CONFIG_SERVER_PORT=8762
CONFIG_SERVER_HOSTNAME=localhost

DISCOVERY_SERVER_PORT=8761
EUREKA_HOSTNAME=localhost
EUREKA_URI=http://localhost:8761/eureka

PRODUCT_SERVICE_PORT=8763
API_GATEWAY_PORT=8760
CONFIG_URI=http://localhost:8762

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce-microservice
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres-password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_TIMEOUT=2s
REDIS_CONNECT_TIMEOUT=2s

JPA_SHOW_SQL=true
JPA_DDL_AUTO=update

GATEWAY_CONNECT_TIMEOUT_MS=2000
GATEWAY_RESPONSE_TIMEOUT=5s
GATEWAY_RATE_LIMIT_ENABLED=false
GATEWAY_RATE_LIMIT_REPLENISH_RATE=20
GATEWAY_RATE_LIMIT_BURST_CAPACITY=40

KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-keycloak-admin-password
KEYCLOAK_REALM=ecommerce
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/ecommerce

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
